@use "../variable";



.select-custom {
    .ant-select,
    .ant-select-single,
    .ant-select:not(.ant-select-customize-input) {
        .ant-select-selector {
            background-color: $color-white;
            border-radius: 8px;
            border: 1px solid $color-main-text;
            min-height: 4.6rem;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                border-color: $color-main-text;
            }

            .ant-select-selection-item {
                padding: 0.6rem 0.5rem;
                margin-right: 1.4rem;
                font-weight: $font-weight-medium;
                color: $color-main-text;
                line-height: 1.5;
            }
        }
    }

    .ant-select {
        height: 6rem;
    }
}
